@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: url('/fonts/Montserrat/Montserrat-VariableFont_wght') format('ttf');
}

@layer base {
    html {
      font-family: 'Montserrat', system-ui, sans-serif;
    }
}
