@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.brand-rica {
    --brand-primary: #17458E;
    --brand-dark-primary: #02103D;
    --brand-light-primary: #3D90DF;
    --brand-neutral: #D1D4D9;
}

.brand-uniprice {
    --brand-primary: #06519A;
    --brand-dark-primary: #04386d;
    --brand-light-primary: #0973de;
    --brand-neutral: #D1D4D9;
}

.form-check-input:checked[type=radio] {
    background-image:url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%222%22 fill=%22%23fff%22/%3E%3C/svg%3E");
}

.form-check-input:checked[type="checkbox"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.mui-listbox {
    color: #4B5563 !important;
}

.mui-listbox2 {
    color: #4B5563 !important;
    max-height: 250px;
}


.mui-input {
    color: #4B5563 !important;
}

.error fieldset {
    border-radius: 0.25rem;
    border: 2px solid #b91c1c !important;
}
