<div class="flex flex-col justify-center items-center text-center mt-8 lg:mt-16 px-3"><span
        class="text-accent font-extrabold text-[40px] leading-[49px]">Informativa Cookie Policy estesa</span></div>
<div class="flex flex-col justify-center items-center mt-8 lg:mt-16">
    <p class="font-extrabold w-full max-w-[1069px] text-[16px] leading-[18px]">Titolare del Trattamento
    </p>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]">La Società RI.CA. Distribuzione
        S.P.A. con sede legale in Lungotevere dei Mellini, 44 – 00193 Roma C.F. e P.IVA 04389071004 in qualità di
        Titolare del trattamento La informa che la presente Cookie Policy è stata redatta ai sensi del Regolamento UE
        679/2016 (GDPR), della normativa nazionale applicabile e dei provvedimenti del Garante per la Protezione dei
        Dati personali dell'8 maggio 2014 e del 10 Luglio 2021. Per maggiori informazioni, consultare la <a
            href="https://fantasanremo.risparmiocasa.com/privacy.pdf" target="_blank">Privacy Policy</a></p>
    <p class="font-extrabold w-full max-w-[1069px] text-[16px] leading-[18px] lg:mt-16">Cosa sono i cookie
    </p>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]">I cookie sono piccoli pacchetti di
        dati che vengono memorizzati sul computer dell'utente nel corso della navigazione e sono utilizzati per vari
        scopi. Il Regolamento di cui sopra li suddivide nelle seguenti categorie:</p><br>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]"><span
            class="font-extrabold">Cookie tecnici:</span> I cookie tecnici sono quelli utilizzati al solo fine di
        "effettuare la trasmissione di una comunicazione su una rete di comunicazione elettronica, o nella misura
        strettamente necessaria al fornitore di un servizio della società dell'informazione esplicitamente richiesto
        dall'abbonato o dall'utente a erogare tale servizio" (cfr. art. 122, comma 1, del Codice). Essi non vengono
        utilizzati per scopi ulteriori e sono normalmente installati direttamente dal titolare o gestore del sito web.
    </p><br>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]">Base giuridica che legittima tale
        trattamento è l'art. 6 par. 1, lett. b) del Regolamento, in quanto è necessario per consentire all'utente di
        fruire del servizio richiesto.</p><br>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]">Si distinguono come segue:</p><br>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]"><span class="font-extrabold">-
            cookies di navigazione (o sessione)</span> garantiscono la normale navigazione e fruizione del sito web
        (permettendo, ad esempio, di realizzare un acquisto o autenticarsi per accedere ad aree riservate);</p>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]"><span class="font-extrabold">-
            cookies analitycs:</span> assimilati ai cookie tecnici laddove utilizzati direttamente dal gestore del sito
        per raccogliere informazioni, solo <span class="font-extrabold">in forma aggregata</span>, sul numero degli
        utenti e su come questi visitano il sito stesso;</p>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]"><span class="font-extrabold">-
            cookies di funzionalità:</span> permettono all'utente la navigazione in funzione di una serie di criteri
        selezionati (ad esempio, la lingua, i prodotti selezionati per l'acquisto) al fine di migliorare il servizio
        reso allo stesso.
    </p>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]">Per l'installazione di tali cookie
        non è richiesto il preventivo consenso degli utenti.
    </p><br>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]"><span
            class="font-extrabold">Cookie di profilazione:</span> sono utilizzati per prendere nota degli interessi e
        delle abitudini di navigazione dei singoli utenti, per personalizzare la navigazione ed erogare, ad esempio,
        contenuti anche pubblicitari, mirati all'utente in funzione dei suoi specifici interessi. Possono essere
        inseriti dall'editore o da terze parti. Il Sito non ricorre a Cookie di Profilazione, né dell'Editore né di
        Terze Parti.
    </p><br>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]">I cookie presenti su questo sito
        sono i seguenti.
    </p>
    <div #CookieDeclaration></div>
    <!-- <script id="CookieDeclaration" src="https://consent.cookiebot.com/9c123420-fbfe-4f65-9892-96b11e7efe81/cd.js"
        type="text/javascript" async></script> -->
        <br>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]">Potete disattivare i cookie per
        tipologia nei seguenti browser come segue:
    </p><br>
    <p class="w-full font-extrabold max-w-[1069px] text-[16px] leading-[18px]">Mozilla Firefox <a
            href="https://support.mozilla.org/it/kb/Bloccare%20i%20cookie" target="_blank">(link alle istruzioni)
        </a></p>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]">1. Apri Firefox<br>
        2. Premi il pulsante "Alt" sulla tastiera.<br>
        3. Nella barra degli strumenti situata nella parte superiore del browser, seleziona "Strumenti" e
        successivamente "Opzioni".<br>
        4. Seleziona quindi la scheda "Privacy".<br>
        5. Vai su "Impostazioni Cronologia:" e successivamente su "Utilizza impostazioni personalizzate". Deseleziona
        "Accetta i cookie dai siti" e salva le preferenze.</p><br>
    <p class="w-full font-extrabold max-w-[1069px] text-[16px] leading-[18px]">Microsoft Internet Explorer<a
            href="http://windows.microsoft.com/it-it/windows-vista/block-or-allow-cookies" target="_blank"> (link alle
            istruzioni)
        </a></p>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]">1. Apri Internet Explorer.<br>
        2. Clicca sul pulsante "Strumenti" e quindi su "Opzioni Internet".<br>
        3. Seleziona la scheda "Privacy" e sposta il dispositivo di scorrimento sul livello di privacy che desideri
        impostare (verso l'alto per bloccare tutti i cookies o verso il basso per consentirli tutti).<br>
        4. Quindi clicca su OK.</p><br>
    <p class="w-full font-extrabold max-w-[1069px] text-[16px] leading-[18px]">Google Chrome<a
            href="https://support.google.com/chrome/answer/95647?hl=it" target="_blank"> (link alle istruzioni)
        </a></p>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]">1. Apri Google Chrome.<br>
        2. Clicca sull'icona "Strumenti".<br>
        3. Seleziona "Impostazioni" e successivamente "Impostazioni avanzate".<br>
        4. Seleziona "Impostazioni dei contenuti" sotto la voce "Privacy".<br>
        5. Dalla scheda "Cookie e dati dei siti" dove sarà possibile cercare e cancellare specifici cookies.
    </p>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]">oppure
    </p>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]">1. Digita
        chrome://settings/cookies nella barra degli indirizzi e premi invio.<br>
        2. Accederai alla scheda "Cookie e dati dei siti" dove sarà possibile cercare e cancellare specifici cookies.
    </p><br>
    <p class="w-full font-extrabold max-w-[1069px] text-[16px] leading-[18px]">Safari<a
            href="https://support.apple.com/it-it/HT201265" target="_blank"> (link alle istruzioni)
        </a></p>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]">1. Apri Safari.<br>
        2. Scegli "Preferenze" nella barra degli strumenti, quindi seleziona il pannello "Sicurezza" nella finestra di
        dialogo che segue.<br>
        3. Nella sezione "Accetta cookie" è possibile specificare se e quando Safari deve salvare i cookies dai siti
        web. Per ulteriori informazioni clicca sul pulsante di Aiuto (contrassegnato da un punto interrogativo).<br>
        4. Per maggiori informazioni sui cookies che vengono memorizzati sul vostro computer, clicca su "Mostra cookie".
    </p><br>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]">(Per ulteriori informazioni sulla
        pubblicità comportamentale e per sapere come attivare o disattivare singolarmente i cookie e avere indicazioni
        sui software di gestione dei cookie, è possibile fare rifersi a questo indirizzo:
        http://www.youronlinechoices.com/it/)<br></p>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]">Per sapere come attivare o
        disattivare la profilazione pubblicitaria sulle applicazioni mobile è possibile friferirsi a questo indirizzo:
        http://www.aboutads.info/appchoices
    </p>
    <p class="font-extrabold w-full max-w-[1069px] text-[16px] leading-[18px] lg:mt-16">Diritto di proporre
        reclamo al Garante per la protezione dei dati
    </p>
    <p class="w-full max-w-[1069px] font-medium text-[16px] leading-[18px]">L'interessato potrà proporre
        reclamo al Garante per la protezione dei dati personali nel caso in cui ritenga che siano stati violati i propri
        diritti ai sensi del GDPR e della normativa applicabile, secondo le modalità indicate sul sito del Garante,
        accessibile all'indirizzo: www.garanteprivacy.it
    </p>
    </div>