<div class="flex flex-col justify-center items-center bg-white" *ngrxLet="state$ as state">
    <ricaweb-loading-spinner *ngIf="state?.loading"></ricaweb-loading-spinner>
    <div class="w-full flex justify-center items-center bg-secondary">
        <div class="w-[1920px] h-[79px] flex flex-row justify-between items-center bg-secondary text-primary text-[24px] font-extrabold">
            <img class="w-[330px] z-10 relative top-8" src="/logo-rc-vector.svg" alt="Risparmio Casa">
            <div class="text-center">HOME</div>
            <div class="text-center">PREMI</div>
            <div class="text-center">COME PARTECIPARE</div>
            <img class="w-[200px]" src="/partecipa.svg" alt="Partecipa">
            <img class="w-[336px]" src="/logo-fantasanremo.svg" alt="FANTASANREMO">
        </div>
    </div>
    <div class="w-full flex flex-row justify-center bg-primary">
        <img
            sizes="(max-width: 1920px) 100vw, 1920px"
            srcset="
            banner_banner-desk_vd3wt5_c_scale,w_190.webp 190w,
            banner_banner-desk_vd3wt5_c_scale,w_687.webp 687w,
            banner_banner-desk_vd3wt5_c_scale,w_1020.webp 1020w,
            banner_banner-desk_vd3wt5_c_scale,w_1920.webp 1920w"
            src="/banner_banner-desk_vd3wt5_c_scale,w_1920.webp"
            alt="Unisciti alla lega Risparmio Casa" 
        >
    </div>
    <div class="flex flex-row justify-center items-baseline gap-2 text-[40px] font-extrabold leading-[49px] text-primary py-16">
        <span>+</span>
        <span class="text-[60px]" style="font: normal normal 800 60px/49px;">200 PREMI</span>
        <span>IN PALIO:</span>
    </div>
    <div class="flex flex-row text-accent justify-center items-start pb-16">
        <img class="w-[125px] relative -top-6 left-12" src="/stelle-sx.svg" alt="" >
        <div class="flex flex-col text-center">
            <span class="text-[65px] flex flex-col justify-center items-center leading-[60px]" style="font: normal normal 800 65px/45px;">1 WEEKEND</span>
            <span class="w-[574px] text-[46px] flex flex-col justify-center items-center leading-[45px]" style="font: normal normal 800 46px/45px;">PER LA FINALE</span>
            <span class="w-[574px] text-[46px] flex flex-col justify-center items-center leading-[45px]" style="font: normal normal 800 46px/45px;">DELL’EUROVISION 2025</span>
        </div>
        <img class="w-[125px] relative -top-6 -left-14" src="/stelle-dx.svg" alt="" >
    </div>
    <div class="flex flex-row justify-center items-center gap-10 font-extrabold text-[40px] text-accent pb-16">
        <div class="w-[488px] flex flex-col justify-center items-center gap-4">
            <span><span class="text-[60px]">100</span> BUONI SPESA</span>
            <img class="w-[240px]" src="/logo-rc-vector.svg" alt="Risparmio Casa">
            <span>DA 50€</span>
        </div>
        <div class="w-[2px] h-[200px] bg-primary"></div>
        <div class="flex flex-col justify-center items-center gap-4">
            <span><span class="text-[60px]">50</span> GIFT CARD</span>
            <img class="w-[326px]" src="/ticketone.svg" alt="ticketone">
            <span>DA 50€</span>
        </div>
        <div class="w-[2px] h-[200px] bg-primary"></div>
        <div class="w-[488px] flex flex-col justify-center items-center gap-4">
            <span><span class="text-[60px]">50</span> GIFT CARD</span>
            <img class="w-[320px]" src="/vivaticket.svg" alt="VIVATICKET">
            <span>DA 50€</span>
        </div>
    </div>
    <div class="h-[784px] bg-secondary w-full flex flex-col justify-between items-center py-[62px] leading-[30px]">
        <span class="h-[49px] text-[40px] font-extrabold text-primary">COME PARTECIPARE</span>
        <div class="flex flex-row justify-center items-start gap-48">
            <div class="w-[360px] flex flex-col justify-center items-center text-center">
                <img class="w-[257px] h-fit" src="/img_how1.png" alt="Vai sul sito FANTASANREMO">
                <span class="w-[73px] h-[73px] -top-8 relative bg-primary rounded-full text-white text-[35px] font-extrabold flex justify-center items-center">1</span>
                <span class="text-primary font-medium text-[30px]">VAI SUL SITO <span class="underline">FANTASANREMO</span>, <span class="font-extrabold">REGISTRATI E CREA LA TUA SQUADRA</span></span>
            </div>
            <div class="w-[394px] flex flex-col justify-center items-center text-center">
                <img class="w-[257px] h-fit" src="/img_how2.png" alt="Unisci la tua squadra nella lega RISPARMIO CASA">
                <span class="w-[73px] h-[73px] -top-8 relative bg-primary rounded-full text-white text-[35px] font-extrabold flex justify-center items-center">2</span>
                <span class="text-primary font-medium text-[30px]">UNISCI LA TUA SQUADRA ALL’INTERNO DELLA <span class="font-extrabold">LEGA<br>RISPARMIO CASA</span></span>
            </div>
            <div class="w-[394px] flex flex-col justify-center items-center text-center">
                <img class="w-[257px] h-fit" src="/img_how3.png" alt="Compila il form">
                <span class="w-[73px] h-[73px] -top-8 relative bg-primary rounded-full text-white text-[35px] font-extrabold flex justify-center items-center">3</span>
                <span class="text-primary font-medium text-[30px]"><span class="font-extrabold">COMPILA IL FORM QUI SOTTO</span> CON I TUOI DATI E PARTECIPA<br> AL CONCORSO</span>
            </div>
        </div>
        <span class="h-[27px] text-[22px] font-extrabold text-primary">ESTRAZIONE FINALE DEI PREMI ENTRO IL 27/02/2025!</span>
    </div>
    <div class="flex flex-col justify-center items-center py-[62px]">
        <span class="text-accent font-extrabold text-[40px] leading-[49px]">PARTECIPA AL CONCORSO</span>
        <span class="text-primary font-extrabold text-[27px] leading-[30px]">SUBITO PER TE, SULLA TUA E-MAIL, UN BUONO SCONTO DA 5€!</span>
        <img class="w-[280px] my-6" src="buono-sconto.svg" alt="buono sconto 50€">
        <span class="font-medium text-[16px] leading-[20px]">Valido nei punti vendita in Italia, acquisto minimo 30€, fino al 28/02/2025.</span>
        <span class="font-medium text-[16px] leading-[20px]">Non spendibile sullo shop online shop.risparmiocasa.com</span>
    </div>
    <div class="w-[1069px] flex flex-col justify-center items-center">
        <div class="w-fit bg-accent text-white font-extrabold text-xl uppercase rounded-t-3xl px-10 py-2">Compila tutti i campi:</div>
        <div class="w-full flex flex-col rounded-3xl overflow-hidden" *ngIf="dataGroup" [formGroup]="dataGroup">
            <div class="bg-primary flex flex-row px-28 py-6 justify-between">
                <label class="w-[385px] [:not(.error)&>input:focus]:!border-secondary" *ngrxLet="dataGroup.controls.cardNumber as actualControl" [ngClass]="{ error: state?.formSubmitted && actualControl.invalid }">
                    <div class="label">
                        <span class="text-[22px] label-text text-white">
                            Numero carta fedeltà
                            <span class="block font-light text-sm">Inserisci il numero completo</span>
                            <span class="block font-light text-sm">(incluso lo 0 iniziale)</span>
                        </span>
                    </div>
                    <input inputmode="numeric" pattern="[0-9]*" type="text" class="input input-bordered w-full" formControlName="cardNumber" [maxLength]="CARD_NUMBER_MAX_LENGTH" />
                    <div class="label">
                        <span class="label-text-alt text-white">{{state?.formSubmitted ? getErrorMsg(actualControl) : null}}&nbsp;</span>
                    </div>
                </label>
                <div class="w-[385px] flex flex-row items-center">
                    <img class="w-56 -mx-8 h-full object-contain" src="/carta-fedelta.png" alt="carta fedeltà" />
                    <p class="ml-4 text-[20px] font-medium text-base text-white text-wrap">Non ce l'hai ancora? <span class="font-extrabold">Richiedila gratuitamente su <a class="underline" href="#">cartafedelta.online</a></span> oppure nel negozio più vicino a te!</p>
                </div>
            </div>
            <div class="bg-secondary flex flex-col px-28 py-6 gap-2">
                <div class="flex flex-row justify-between">
                    <label class="w-[385px]" *ngrxLet="dataGroup.controls.firstname as actualControl" [ngClass]="{ error: state?.formSubmitted && actualControl.invalid }">
                        <div class="label">
                            <span class="label-text">Nome</span>
                        </div>
                        <input type="text" class="input input-bordered w-full" formControlName="firstname" [maxLength]="NAME_MAX_LENGTH" />
                        <div class="label">
                            <span class="label-text-alt">{{state?.formSubmitted ? getErrorMsg(actualControl) : null}}&nbsp;</span>
                        </div>
                    </label>
                    <label class="w-[385px]" *ngrxLet="dataGroup.controls.lastname as actualControl" [ngClass]="{ error: state?.formSubmitted && actualControl.invalid }">
                        <div class="label">
                            <span class="label-text">Cognome</span>
                        </div>
                        <input type="text" class="input input-bordered w-full" formControlName="lastname" [maxLength]="NAME_MAX_LENGTH" />
                        <div class="label">
                            <span class="label-text-alt">{{state?.formSubmitted ? getErrorMsg(actualControl) : null}}&nbsp;</span>
                        </div>
                    </label>
                </div>
                <div class="flex flex-row justify-between">
                    <label class="w-[385px]" *ngrxLet="dataGroup.controls.birthdate as actualControl" [ngClass]="{ error: state?.formSubmitted && actualControl.invalid }">
                        <div class="label">
                            <span class="label-text">Data di nascita</span>
                        </div>
                        <div class="flex flex-row gap-4 w-full" [formGroup]="actualControl">
                            <select class="select select-bordered w-[115px] text-[20px] font-medium" formControlName="date">
                                <option [ngValue]="null" disabled>gg</option>
                                <option *ngFor="let date of dateList" [ngValue]="date" [disabled]="dateInvalid(date, actualControl.value.month, actualControl.value.year)">{{date}}</option>
                            </select>
                            <select class="select select-bordered w-[115px] text-[20px] font-medium" formControlName="month">
                                <option [ngValue]="null" disabled>mm</option>
                                <option *ngFor="let month of monthList" [ngValue]="month">{{month}}</option>
                            </select>
                            <select class="select select-bordered min-w-[110px] grow text-[20px] font-medium" formControlName="year">
                                <option [ngValue]="null" disabled>aaaa</option>
                                <option *ngFor="let year of yearList" [ngValue]="year">{{year}}</option>
                            </select>
                        </div>
                        <div class="label">
                            <span class="label-text-alt">{{state?.formSubmitted ? getErrorMsg(actualControl, 'required') : null}}&nbsp;</span>
                        </div>
                    </label>
                    <label class="w-[385px]" *ngrxLet="dataGroup.controls.taxId as actualControl" [ngClass]="{ error: state?.formSubmitted && actualControl.invalid }">
                        <div class="label">
                            <span class="label-text">Codice fiscale</span>
                        </div>
                        <input type="text" class="input input-bordered w-full uppercase" formControlName="taxId" [maxLength]="TAX_ID_MAX_LENGTH" />
                        <div class="label">
                            <span class="label-text-alt">{{state?.formSubmitted ? getErrorMsg(actualControl) : null}}&nbsp;</span>
                        </div>
                    </label>
                </div>
                <div class="flex flex-row justify-between items-center">
                    <label class="w-[385px]" *ngrxLet="dataGroup.controls.email as actualControl" [ngClass]="{ error: state?.formSubmitted && actualControl.invalid }">
                        <div class="label">
                            <span class="label-text">E-mail</span>
                        </div>
                        <input type="email" class="input input-bordered w-full" formControlName="email" [maxLength]="EMAIL_MAX_LENGTH" />
                        <div class="label">
                            <span class="label-text-alt">{{state?.formSubmitted ? getErrorMsg(actualControl) : null}}&nbsp;</span>
                        </div>
                    </label>
                    <p class="text-[16px] leading-[18px] font-medium underline w-[385px]">
                        <span class="font-extrabold">Attenzione</span>: l'e-mail utilizzata deve essere la stessa usata per iscriversi alla Lega Risparmio Casa di FantaSanremo
                    </p>
                </div>
                <div class="flex flex-row justify-between items-center">
                    <label *ngrxLet="dataGroup.controls.rulesAcceptance as actualControl" [ngClass]="{ error: state?.formSubmitted && actualControl.invalid }">
                        <div class="flex flex-row items-center gap-4">
                            <input type="checkbox" class="checkbox bg-white checked:bg-primary" formControlName="rulesAcceptance" />
                            <div class="label-text font-extrabold text-[19px]">Ho letto e accetto il <a href="#" class="underline">regolamento</a></div>
                        </div>
                        <div class="label">
                            <span class="label-text-alt">{{state?.formSubmitted ? getErrorMsg(actualControl) : null}}&nbsp;</span>
                        </div>
                    </label>
                </div>
                <div class="flex flex-row justify-between items-center">
                    <label *ngrxLet="dataGroup.controls.privacyPolicyAcceptance as actualControl" [ngClass]="{ error: state?.formSubmitted && actualControl.invalid }">
                        <div class="flex flex-row items-center gap-4">
                            <input type="checkbox" class="checkbox bg-white checked:bg-primary" formControlName="privacyPolicyAcceptance" />
                            <div class="label-text font-extrabold text-[19px]">Ho letto l'informativa sulla <a href="#" class="underline">privacy policy</a> e accetto quanto in essa indicato</div>
                        </div>
                        <div class="label">
                            <span class="label-text-alt">{{state?.formSubmitted ? getErrorMsg(actualControl) : null}}&nbsp;</span>
                        </div>
                    </label>
                </div>
                <div class="self-center bg-primary rounded-3xl p-4 text-[16px] text-white text-center leading-[18px]">
                    <span class="uppercase font-extrabold">Verifica i dati prima di procedere</span>
                    <p class="font-medium">
                        La validità della partecipazione verrà respinta se <span class="font-extrabold">l'indirizzo e-mail</span> usato per iscriverti a questo concorso non è lo stesso impiegato per la registrazione al FantaSanremo
                    </p>
                </div>
                <button class="btn btn-success uppercase w-fit h-[56px] self-center mt-6 pt-[5px] py-2 px-6 text-white text-[40px] font-extrabold leading-none flex justify-center items-center" (click)="sendInfo()">Partecipa</button>
                <span class="self-center text-error text-base font-extrabold text-center max-w-[40rem] text-wrap">{{state?.errorText}}&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="flex flex-col py-16 justify-center items-center">
        <p class="w-[1069px] font-medium text-[16px] leading-[18px] text-center px-[72px]">Concorso a premi valido dal 23/01/2025 all’11/02/2025 riservato agli iscritti FantaSanremo 2025 lega Risparmio Casa e ai titolari di carta fedeltà Risparmio Casa. Estrazione finale entro il 27/02/2025.</p>
        <p class="w-[1069px] font-medium text-[16px] leading-[18px] text-center">Montepremi €13.000 Iva esclusa.</p>
        <p class="w-[1069px] font-medium text-[16px] leading-[18px] text-center">Per informazioni sul concorso: fantasanremo&#64;risparmiocasa.com</p>
        <p class="w-[1069px] font-medium text-[16px] leading-[18px] text-center px-[40px]">I loghi di Ticketone e Vivaticket presenti sono di proprietà esclusiva dei rispettivi titolari. Ticketone e Vivaticket non sono in alcun modo coinvolti nell’organizzazione del presente concorso e non partecipano all’iniziativa.</p>
    </div>
    <div class="w-full h-[69px] flex flex-row gap-20 justify-center items-center bg-primary text-[24px] font-extrabold text-white">
        <span>PRIVACY POLICY</span>
        <span>COOKIE POLICY</span>
        <span>REGOLAMENTO</span>
    </div>
</div>
